.row {
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  flex: 1 0 200px;
}
