.root {
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);

  &:hover .extra {
    display: block;
  }
}

.image-wrapper {
  position: relative;
  margin-bottom: 32px;
}

.image {
  display: block;
  width: 100%;
}

.icon {
  position: absolute;
  bottom: -16px;
  left: 8px;
  display: block;
  width: 32px;
  height: 32px;
}

.extra {
  display: none;
}
