/* TODO: Implement it in a smart way, similar to tailwind or material-ui */

.padding-0 {
    padding: 0;
}

.padding-1 {
    padding: 8px;
}

.padding-2 {
    padding: 16px;
}

.padding-3 {
    padding: 24px;
}

.padding-4 {
    padding: 32px;
}

.margin-0 {
    margin: 0;
}

.margin-1 {
    margin: 8px;
}

.margin-2 {
    margin: 16px;
}

.margin-3 {
    margin: 24px;
}

.margin-4 {
    margin: 32px;
}

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: 8px;
}

.gap-2 {
    gap: 16px;
}

.gap-3 {
    gap: 24px;
}

.gap-4 {
    gap: 32px;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}
